@import "tailwindcss";


@keyframes floatY {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-billing {
  animation: floatY 4s ease-in-out infinite;
}

.float-matters {
  animation: floatY 4.8s ease-in-out infinite;
}

.float-tasks {
  animation: floatY 5s ease-in-out infinite;
}

.float-documents {
  animation: floatY 4.5s ease-in-out infinite;
}

.portal-animation {
  animation: floatY 4.6s ease-in-out infinite;
}

